body{
  /* background-color: rgb(255, 211, 219); */
  background-color: #769597;
  /* background-color: #914236; */
}
.nav-link{
  color: #914236;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}
.nav-link:hover{
  color: #00565F;
}

h1,h3{
  font-family: 'Caveat', cursive;
}

.application-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4rem;
  padding: 0 4rem;
}
.mapjs-container{
  display: flex;
  flex-direction: column;
}
.map{
  height: 30rem; 
  width: 24rem; 
  border-radius: 5%;
  margin: auto
}

.map-and-forecast{
  display: flex;
  flex-direction: column;
  /* padding-bottom: 2rem; */
  /* gap: 4rem; */
  align-items: center;
}
.weather-container{
  display: 'flex';
  flex-direction: column;
}

.poster{
  width: 18rem;
  height: 20rem; 
  padding-top: 1rem;
}
.movies-container{
  width: 40rem;
  margin: auto;
}

@media only screen and (max-width: 768px){
  .map-and-forecast{
    flex-direction: column;
  }
  .application-container{
    padding: 2rem
  }
  .movies-container{
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .application-container{
    /* padding: 4rem; */
    margin: 5px;
  }
  .map{
    height: 20rem; 
    width: 16rem;
  }
  .movies-container{
    width: 18rem;
  }
  .poster{
    width: 12rem;
    height: 14rem; 
  }
  .weather-container{
    width: 18rem;
  }
  .fa-solid{
    font-size: 2rem;
  }
}