body{
  background-color: rgb(255, 211, 219);
}

h1{
  font-family: 'DynaPuff', cursive;
}

.application-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4rem;
}

.mapjs-container{
  display: flex;
  flex-direction: column;
}
.map-and-forecast{
  display: flex;
  padding-bottom: 2rem;
  gap: 4rem;
  align-items: center;
}
.weather-container{
  display: 'flex';
  flex-direction: column;
}

.poster{
  width: 18rem;
  height: 20rem; 
  padding-top: 1rem;
}
.movies-container{
  width: 40rem;
  margin: auto;
}

@media only screen and (max-width: 768px){
  .map-and-forecast{
    flex-direction: column;
  }
  .application-container{
    padding: 2rem
  }
  .movies-container{
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .application-container{
    /* padding: 4rem; */
    margin: 5px;
  }
  .movies-container{
    width: 18rem;
  }
  .weather-container{
    width: 18rem;
  }
  .fa-solid{
    font-size: 2rem;
  }
}