body{
  background-color: #769597;
}
footer{
  font-family: 'Caveat', cursive;
  font-size: 22px;
}
.nav-link{
  color: #914236;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}
.nav-link:hover{
  color: #00565F;
}
a{ 
  color: #914236;
  text-decoration: none;
}
a:hover{
  color: #00565F;
}

h1,h3{
  font-family: 'Caveat', cursive;
}

.application-container{
  text-align: center;
  margin: 4rem;
  padding: 0 2rem;
}
.mapjs-container{
  display: flex;
  flex-direction: column;
}
.map{
  height: 36rem; 
  width: 30rem; 
  border-radius: 5%;
  margin: auto;
  border: 5px solid #00565F;
}

.poster{
  width: 18rem;
  height: 20rem; 
  padding-top: 1rem;
}
.movies-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.carousel{
  width: 36rem;
  border: 5px solid #00565F;
}

.yelp-container{
  overflow-y: hidden;
  width: 36rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  padding: 1rem;
}
.yelp-container:hover{
  overflow-y: scroll;
}
.yelp{
  margin-top: 2rem;
}
.yelp-img{
  width: 12rem;
  height: 12rem;
}
.yelp-img-container{
  display: flex;
}
.yelp-container > .card .card-text:last-child{
  font-size: 24px;
}

@media only screen and (max-width: 768px){
  .application-container{
    padding: 2rem
  }
  .movies-container{
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .application-container{
    margin: 5px;
  }
  .map{
    height: 20rem; 
    width: 16rem;
  }
  .movies-container{
    width: 18rem;
  }
  .poster{
    width: 12rem;
    height: 14rem; 
  }
  .weather-container{
    width: 18rem;
  }
  .fa-solid{
    font-size: 2rem;
  }
  .carousel{
    width: 18rem;
  }
  .yelp-container{
    width: 18rem;
    height: 18rem;
  }
  .yelp-img{
    width: 5rem;
    height: 6rem;
  }
  .yelp-img-container{
    align-items: center;
  }
  .fa-phone,
  .fa-location-dot,
  .fa-star{
    font-size: 10px;
  }
  .yelp-container > .card .card-text:last-child{
    font-size: 14px;
  }
  .yelp-container > .card .card-title{
    font-size: 18px;
  }
}